body{
    margin: 0;
}

.container-1{
    display: grid;
    grid-template-columns: 200px 6fr;
    grid-template-rows: 150px 700px;
    grid-template-areas: "nav header" 
        "nav content";
}

.nav{
    grid-area: nav;
    display: grid;
    grid-template-rows: 50px 200px 100px ;
    gap: 30px;
    background-color: rgb(57, 193, 247);
    padding-top: 20px;
    padding-left: 20px;
}
.header{
    grid-area: header;
}

.content{
    background-color: rgb(233, 228, 228);
    grid-area: content;
}
/*navigation section styling*/
a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    vertical-align: middle;
}

.nav-2, .nav-3{
    display: grid;
}

.nav-1 > svg{
    width: 30px;
    vertical-align: middle;
    padding-right: 10px;

}

.nav-2>div>svg, .nav-3>div>svg{
    width: 20px;
    vertical-align: middle;
    padding-right: 10px;
}

/*header styling*/
.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 7px;
    font-size: 10px;
}

svg{
    width: 25px;
}

.search-button{
    border: none;
    background-color: white;
    vertical-align: middle;
}

input{
    width: 60%;
    border-radius: 10px;
    background-color: rgb(235, 231, 231);
    border: none;
    height: 20px;
    padding-left: 10px;
}

.buttons>button{
    background-color: rgb(57, 193, 247);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin: 5px;
    font-size: 10px;
}

/*content section styling*/
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "projects second-column";
    font-size: 10px;
    padding: 20px;
}

.second-column{
    grid-area: second-column;
}
.projects{
    grid-area: projects;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box-1{
    grid-area: box-1;
    background-color: white;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.anouncments{
    grid-area: anouncments;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 5px;
}

.trending{
    grid-area: trending;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 5px;
}


