body{
    margin: 0;
}

/*first container layout*/
.container-1{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 900px;
    grid-template-areas: "nav container-2";
}

.container-2{
    grid-area: container-2;
}

.nav{
    background-color: rgb(57, 193, 247);
    grid-area: nav;
}

.container-1 > div{
    border: 1px;
}
/*second containor layout*/
.container-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 700px;
    grid-template-areas: "header" "content";
}

.header{
    grid-area: header;
}

.content{
    background-color: rgb(233, 228, 228);
    grid-area: content;
}